header {
   background-color: #ffff;
   font-family: "opensans";
   position: absolute;
   width: 1408px;
   height: 100px;
   left: 0px;
   top: 0px;
   border: 1px solid #000000;
   box-sizing: border-box;
}
